<div class="buttons">
	<button class="bottom-menu">
		<i data-feather="menu"></i>
	</button>
	<div id="socials">
		<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" data-bs-toggle="tooltip" title="Share on LinkedIn">
			<i data-feather="linkedin"></i>
		</a>
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<a href="#" class="top" data-bs-toggle="tooltip" title="Back to top">
			<i data-feather="arrow-up"></i>
		</a>
	</div>
</div>